    <%- include("partials/header")  %>
    <h1>Home</h1>
    <!-- print the articals -->
  <% Posts.forEach(function(elem){%> 
        <h3><%=elem.name%></h3>
        <li>
        <%= elem.blog.substring(0,100) + "..." %>
        <a href="/post/<%=elem._id%>">Read More</a>
        </li>
    <%});%> 
  
    <%- include("partials/footer") %>    